extends ../layout/layout.jade

block title
  title document.domain Demo

block styles
  link(rel='stylesheet', href="/css/demo.css")

block content
  p document.domain Demo

block scripts
  script(src="/js/domain.js")