extends ../layout/layout.jade

block title
  title JSONP Demo

block styles
  link(rel='stylesheet', href="/css/demo.css")

block content
  h1 JSONP Demo

  .demo
    .demo-controls
      input#get-jsonp-id(type="text", placeholder="id" value="some-id")
      button#get-jsonp-button GET the data!
    .demo-results
      pre#get-jsonp-data


block scripts
  script(src="/js/jsonp.js")