extends ../layout/layout.jade

block title
  title window.postMessage() Demo

block styles
  link(rel='stylesheet', href="/css/demo.css")

block content
  p window.postMessage() Demo

block scripts
  script(src="/js/message.js")