extends ../layout/layout.jade

block title
  title window.postMessage() Demo

block styles
  link(rel='stylesheet', href="/css/demo.css")

block content
  h1 
    code window.postMessage() 
    | Demo

block scripts
  script(src="/js/message.js")