extends ./layout/layout.jade

block title
  title Demo

block styles
  link(rel="stylesheet" href="/css/index.css")

block content
  h1 Cross-domain AJAX with Koa

  hr

  ul
    li
      a(href="/demo/cors") Cross-Origin Resource Sharing(CORS)
    li
      a(href="/demo/jsonp") JSON with Padding(JSONP)
    li
      a(href="/demo/domain")
        code document.domain
    li
      a(href="/demo/message")
        code window.postMessage()
