extends ./layout/layout.jade

block title
  title Demo

block styles
  link(rel="stylesheet" href="/css/index.css")

block content
  h1 Cross-domain AJAX with Koa

  hr

  ul.demos
    li
      a(href="/demo/cors") Cross-Origin Resource Sharing(CORS)
    li
      a(href="/demo/jsonp") JSON with Padding(JSONP)
    li
      a(href="/demo/domain")
        code document.domain
    li
      a(href="/demo/message")
        code window.postMessage()

  .reference
    h3 Reference
    ul.reference-list
      li
        a(href="https://tools.ietf.org/html/rfc6454#section-4")
          | RFC 6454 - The Web Origin Concept
      li
        a(href="http://stackoverflow.com/questions/9222822/why-do-browser-apis-restrict-cross-domain-requests")
          | Why do browser APIs restrict cross-domain requests?
      li
        a(href="https://code.google.com/p/browsersec/wiki/Part2#Same-origin_policy")
          | Browser Security Handbook, part 2
      li
        a(href="http://stackoverflow.com/questions/3076414/ways-to-circumvent-the-same-origin-policy")
          | Ways to circumvent the same-origin policy
      li
        a(href="https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy")
          | Same-origin policy | MDN