.index {
    text-decoration: none;
    color: #444;
    position: fixed;
    /* float: right; */
}

header {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.demo,
.demo-reference {
    max-width: 800px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 20px
}

.demo + .demo {
    margin-top: 30px;
}

.demo-controls {
    text-align: center;
    margin-top: 26px;
    width: 42%;
    float: left;
}

.demo-results {
    margin-top: 20px;
    width: 58%;
    float: right;
}

.demo-controls input {
    font: inherit;
    font-size: 20px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #bbb;
    padding: 4px 8px;
    vertical-align: middle;
}

.demo-controls button {
    font: inherit;
    font-size: 16px;    
    display: inline-block;
    border-radius: 2px;    
    border: 1px solid transparent;    
    padding: 8px 16px;
    
    cursor: pointer;
    margin-top: 20px;
    color: white;
    background-color: #E4956C;
    transition: all 0.2s ease-in-out;
    width: 232px;
}

.demo-controls button:hover {
    background-color: rgb(255, 172, 103);
}

.demo-controls input[type=checkbox] {
    margin-left: 20px;
}

.demo-results pre {
    font-family: monaco, menlo, consolas, monospace;
    font-size: 16px;
    padding: 20px;
    background-color: #eee;
    margin: auto;
    max-width: 80%;
    min-height: 70px;
    white-space: pre-wrap;
}

.demo-explanation {
    text-align: center;
    margin-bottom: 40px;
}

.demo-explanation code {
    background-color: #eee;
    padding: 1px 8px;
    margin: 0 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.demo-url {
    font-family: monaco, menlo, consolas, monospace;
    margin: 10px;
}

.home a {
    font-size: 20px;
}

.demo-reference {
    margin-top: 30px;
}

.demo-reference h3 {
    margin-left: 30px;
}

.demo-reference-list li {
    margin-top: 10px;
}

.home a,
.demo-reference-list a {
    text-decoration: none;
    color: #444;
}

.home a:link, .home a:visited,
.demo-reference-list a:link,
.demo-reference-list a:visited {
    text-decoration: none;
}

.home a:hover, .home a:active,
.demo-reference-list a:hover,
.demo-reference-list a:active {
    text-decoration: underline;
}